.register {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.register form input {
    font-size: large;
    border-radius: 10px;
    height: 2.5rem;
}

.register form input::placeholder {
    text-align: center;
}

.register form input:focus {
    outline: none;
}

.register input:focus::placeholder {
    color: transparent;
}

.register form button {
    margin: 1rem 0;
    width: 70%;
    height: 3rem;
    color: white;
    font-size: large;
    border-radius: 10px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
    background-color: #41644A;
}